*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family:sans-serif;
}
.gol{
position: relative;
}
.u{
position:absolute;
top:0;
right:0;
left:330px;
}
.shoes{
    position: absolute;
    top:0;
    right:0;
    left:0;
    bottom:0;
}
.hh{
    font-size: 55px;
    color:rgb(240, 142, 72);
}
.ss{
    font-size:50px;
    color:rgb(61, 58, 58);
}
.cc{
    background-color: #eee;
}
.liner{
    background: linear-gradient( green,black) ;
}
.liner:hover{
    background: linear-gradient(black,green) ; 
}